<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>
<body>

  <div class="nav">
    <%include ./partials/header.ejs %>

  </div>

    <div class="main">
     

       <div class="head">

       <div class="head-main">

        <div class="pro-part1">
          <div class="div-img-back"><img src="../images/Background User Image.jpg" alt=""></div>
          <div class="div-profile-img"><img src="../images/User_img-removebg-preview.png" alt=""></div>
        </div>

      <div class="pro-part2"><%=userFound%></div>

       </div>

       </div>

    </div>

</body>
</html>